

<!-- PACE LOADER -
	
	turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
@*<script data-pace-options='{ "restartOnRequestAfter": true }' src="~/Scripts/ThemeJs/plugin/pace/pace.min.js"></script>*@

<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>*@

<!-- Moved To Header -->
@*<script src="~/Scripts/ThemeJs/libs/jquery-2.1.1.min.js"></script>
<script>
			if (!window.jQuery) {
				document.write('<script src="~/Scripts/ThemeJs/libs/jquery-2.1.1.min.js"><\/script>');
			}
</script>*@

@*<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>*@
<script src="~/Scripts/ThemeJs/libs/jquery-ui-1.10.3.min.js"></script>
<script>
			if (!window.jQuery.ui) {
				document.write('<script src="~/Scripts/ThemeJs/libs/jquery-ui-1.10.3.min.js"><\/script>');
			}
</script>

<script src="~/Scripts/ThemeJs/plugin/jquery-validate/jquery.validate.min.js"></script>
<script src="~/Scripts/ThemeJs/plugin/jquery-validate/jquery.validate.unobtrusive.min.js"></script>

<!-- IMPORTANT: APP CONFIG -->
<script src="~/Scripts/ThemeJs/app.config.js"></script>

<!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
<script src="~/Scripts/ThemeJs/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>

<!-- BOOTSTRAP JS -->
<script src="~/Scripts/ThemeJs/bootstrap/bootstrap.min.js"></script>

<!-- TOASTR -->
<script src="~/Scripts/ThemeJs/plugin/toastr/toastr.min.js"></script>

@*<!-- CUSTOM NOTIFICATION -->
<script src="~/Scripts/ThemeJs/notification/SmartNotification.min.js"></script>

<!-- JARVIS WIDGETS -->
<script src="~/Scripts/ThemeJs/smartwidgets/jarvis.widget.min.js"></script>

*<!-- EASY PIE CHARTS -->
<script src="~/Scripts/ThemeJs/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

<!-- SPARKLINES -->
<script src="~/Scripts/ThemeJs/plugin/sparkline/jquery.sparkline.min.js"></script>

<!-- JQUERY VALIDATE -->
<script src="~/Scripts/ThemeJs/plugin/jquery-validate/jquery.validate.min.js"></script>

<!-- JQUERY MASKED INPUT -->
<script src="~/Scripts/ThemeJs/plugin/masked-input/jquery.maskedinput.min.js"></script>

<!-- JQUERY SELECT2 INPUT -->
<script src="~/Scripts/ThemeJs/plugin/select2/select2.min.js"></script>

<!-- JQUERY UI + Bootstrap Slider -->
<script src="~/Scripts/ThemeJs/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>*@

<!-- browser msie issue fix -->
<script src="~/Scripts/ThemeJs/plugin/msie-fix/jquery.mb.browser.min.js"></script>

<!-- FastClick: For mobile devices -->
<script src="~/Scripts/ThemeJs/plugin/fastclick/fastclick.min.js"></script>

<!--[if IE 8]>

<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

<![endif]-->
<!-- Demo purpose only -->
@*<script src="~/Scripts/ThemeJs/demo.min.js"></script>*@

<!-- MAIN APP JS FILE -->
<script src="~/Scripts/ThemeJs/app.min.js"></script>


<!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->


<!-- Voice command : plugin -->
@*<script src="~/Scripts/ThemeJs/speech/voicecommand.min.js"></script>*@

<!-- SmartChat UI : plugin -->
@*<script src="~/Scripts/ThemeJs/smart-chat-ui/smart.chat.ui.min.js"></script>
<script src="~/Scripts/ThemeJs/smart-chat-ui/smart.chat.manager.min.js"></script>*@



<!-- PAGE RELATED PLUGIN(S) -->


<!-- Flot Chart Plugin: Flot Engine, Flot Resizer, Flot Tooltip -->
@*<script src="~/Scripts/ThemeJs/plugin/flot/jquery.flot.cust.min.js"></script>
<script src="~/Scripts/ThemeJs/plugin/flot/jquery.flot.resize.min.js"></script>
<script src="~/Scripts/ThemeJs/plugin/flot/jquery.flot.time.min.js"></script>
<script src="~/Scripts/ThemeJs/plugin/flot/jquery.flot.tooltip.min.js"></script>*@

<!-- Vector Maps Plugin: Vectormap engine, Vectormap language -->
@*<script src="~/Scripts/ThemeJs/plugin/vectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="~/Scripts/ThemeJs/plugin/vectormap/jquery-jvectormap-world-mill-en.js"></script>*@

<!-- Full Calendar -->
@*<script src="~/Scripts/ThemeJs/plugin/moment/moment.min.js"></script>
<script src="~/Scripts/ThemeJs/plugin/fullcalendar/jquery.fullcalendar.min.js"></script>*@

<script src="~/Scripts/HRMS/Shared/_Layout.js"></script>






