
<div id="form-EmailModal" tabindex="-1" role="dialog" class="modal fade modal-dark modal-dark-success ">
    <div class="modal-dialog custom-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" aria-hidden="true" class="close md-close"><i class="icon s7-close"></i></button>
                <h3 class="modal-title">Email Edit</h3>
            </div>
            <div class="modal-body form">
                <div class="col-sm-12" style="background-color:#302f2f; padding-left:0px; padding-right:0px;">
                    <div class="form-group">
                        <label>Part of order # 2</label>

                    </div>

                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-success md-close">Cancel</button>
                        <button type="button" data-dismiss="modal" class="btn btn-success md-close">Save</button>
                    </div>

                </div>

            </div>

        </div>


    </div>
</div>