
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sequware</title>
    <link rel="stylesheet" type="text/css" href="../../assets/lib/stroke-7/style.css" />
    <link rel="stylesheet" type="text/css" href="../../assets/lib/jquery.nanoscroller/css/nanoscroller.css" />
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="../../assets/css/style.css" type="text/css" />
    <link rel="icon" href="~/assets/img/logo-full ico.ico" type="text/css" />
</head>
<body class="am-splash-screen">
    <div class="am-wrapper am-login">
        <div class="am-content">
            <div class="main-content">
                <div class="login-container forgot-password">
                    <div class="panel panel-default">
                        <div class="panel-heading"><img src="../../assets/img/Logo mockup_1.png" alt="logo" width="150px" height="100px" class="logo-img"><span>Password change successful!</span></div>

                        @{
                            if (@ViewBag.LoginMessage != null)
                            {
                                <div id="a1" role="alert" class="alert alert-danger alert-icon alert-border-color alert-dismissible">
                                    <div class="icon"><span class="s7-close-circle"></span></div>
                                    <div class="message">
                                        <button type="button" data-dismiss="alert" aria-label="Close" class="close"><span aria-hidden="true" class="s7-close"></span></button> @ViewBag.LoginMessage
                                    </div>
                                </div>}
                        }

                        <div class="panel-body">                            
                                <form action="@Url.Action("Login", "Login")" parsley-validate="" novalidate="" method="get" class="form-horizontal">
                                    <p class="text-center">Your Password has been changed. Login here.</p>                                   
                                    
                                    <button type="submit" class="btn btn-block btn-primary btn-lg">Login</button>
                                </form>
                            
                        </div>
                    </div>
                    <div class="text-center out-links"><span id="year" style="color: white;">© Sequware</span></div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/jquery.nanoscroller/javascripts/jquery.nanoscroller.min.js" type="text/javascript"></script>
    <script src="../../assets/js/main.js" type="text/javascript"></script>
    <script src="../../assets/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="../../assets/lib/parsley/parsley.min.js" type="text/javascript"></script>
    <script type="text/javascript">

        $(document).ready(function () {
      	//initialize the javascript
      	App.init();

            $('form').parsley();
            $('#year').text("©" + new Date().getFullYear() + ' Sequware');


      });</script>

</body>
</html>